/** Add css rules here for your application. */

.serverResponseLabelError {
  color: red;
  font-family:Georgia,serif;
  font-size:13px;
}

.sgwtTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:18px;
}

.appNameLabel {
    font-family:Arial,Verdana,tahoma,serif;
    color:#898989;
    font-size:24px;
    padding-left:5em;
    font-weight:bold;
}

.initFunctionLabel {
    font-family:Arial,Verdana,tahoma,serif;
    color:#F0F0F0;
    font-size:60px;
}

.reportTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:16px;
    font-weight:bold;
}

.printTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:24px;
}

.printDetails {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:16px;
}

.printSigns {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:10px;
}

.printDocHeader {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:60px;
}