<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
  		<servlet-name>SecurityServlet</servlet-name> 
  		<servlet-class>com.smart.mis.server.security.SecurityServiceImpl</servlet-class> 
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>SecurityServlet</servlet-name> 
  		<url-pattern>/smartmis/security</url-pattern> 
  	</servlet-mapping>
  	
    <servlet>
  		<servlet-name>DataStoreServlet</servlet-name> 
  		<servlet-class>com.smart.mis.datastore.DataStoreServiceImpl</servlet-class> 
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>DataStoreServlet</servlet-name> 
  		<url-pattern>/smartmis/datastore</url-pattern> 
  	</servlet-mapping>
  	

  	<!-- Json Servlets -->
  	<servlet>
  		<servlet-name>jsonPermissionData</servlet-name> 
  		<servlet-class>com.smart.mis.server.security.JsonPermissionData</servlet-class> 
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>jsonPermissionData</servlet-name> 
  		<url-pattern>/smartmis/security/permissionData</url-pattern> 
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>jsonUserData</servlet-name> 
  		<servlet-class>com.smart.mis.server.security.JsonUserData</servlet-class> 
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>jsonUserData</servlet-name> 
  		<url-pattern>/smartmis/security/userData</url-pattern> 
  	</servlet-mapping>
  
  <!-- Upload image Servlets -->
    <servlet>
  		<servlet-name>GetUploadUrlServlet</servlet-name> 
  		<servlet-class>com.smart.mis.shared.image.UserImageServiceImpl</servlet-class> 
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>GetUploadUrlServlet</servlet-name> 
  		<url-pattern>/smartmis/images</url-pattern> 
  	</servlet-mapping>
  	
	   <servlet>
	   <servlet-name>Upload</servlet-name>
	   <servlet-class>com.smart.mis.shared.image.ImageUploadServlet</servlet-class>
	 </servlet>

	 <servlet-mapping>
	   <servlet-name>Upload</servlet-name>
	   <url-pattern>/upload</url-pattern>
	 </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Smartmis_ee.html</welcome-file>
  </welcome-file-list>

</web-app>
